
.box-header .box-title{
  font-size: 16px!important;
}

.content .box-body ul{
  padding-left:10px;
}
.content .box-body ul li{
  list-style: none;
}
.content .box-body .list span{
  padding: 2px;
}
.content .box-body .list ul li .fa-caret-right{
  color: #00c0ef;
}
.content .box-body .list ul li span:nth-of-type(1){
  background-color: #dd4b39;
}
.content .box-body .list ul li span:nth-of-type(2){
  background-color: #00a65a;
}
.content .box-body .list>ul>li{
  padding-bottom: 15px;
  padding-top:15px;
}
.content .box-body ul li ul{
  padding-left: 20px;
}
.content .box-body .list>ul>li ul li{
  padding-bottom: 2px;
  padding-top:2px;
}
.content .box-body ul li i{
  margin-right: 10px;
}

